* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  background-color: var(--h5-c-bg);
  color: var(--h5-c-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none opacity-75 transition duration-200 ease-in-out;
}

.icon-btn:active {
  @apply opacity-100 scale-92;
}

@media (hover: hover) and (pointer: fine) {
  .icon-btn:hover {
    @apply opacity-100 text-[var(--h5-c-primary)];
  }
}
