.prose {
  color: var(--h5-c-text);
}

.prose a {
  color: var(--h5-c-primary);
  text-decoration: none;
}

.prose a:active {
  opacity: 0.6;
}

.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
  border-radius: 10px;
}

.prose img {
  width: 100%;
  border-radius: 10px;
}

.shiki-light {
  background: var(--h5-c-input-bg) !important;
}
.shiki-dark {
  background: var(--h5-c-input-bg) !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}
